streamlit
opencv-python
mysqlclient
streamlit-aggrid
streamlit-shadcn-ui
streamlit-extras
extra_streamlit_components
streamlit_code_editor
paramiko
mysql-client
pymysql
pillow
scikit-learn
openpyxl
SQLAlchemy
zhipuai
dashscope

alibabacloud_searchplat20240529
Levenshtein

matplotlib
opencv-python
opencv-contrib-python
pytesseract